@import "tailwindcss";
@import "./theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-surface);
}

::selection {
  background-color: var(--color-tertiary-container);
  color: var(--color-on-tertiary-fixed);
}

::-moz-selection {
  background-color: var(--color-tertiary-container);
  color: var(--color-on-tertiary-fixed);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-scrollbar {
  overflow-y: scroll; /* still scrollable */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.unselectable-text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard property */
}
